.close-button {
    right: 20px;
    position: absolute;
    top: 20px;
    border: none;
    background-color: unset;
    cursor: pointer;
    color: #ffff;
    svg {
      transition: fill 0.3s;
    }
    &:hover {
      svg {
        fill: red;
      }
    }
  }
  